[user]
    name = {{.user_name}}
    email = {{.user_email}}
[core]
    editor = {{.editor}}
    autocrlf = input
[push]
    default = simple
[pull]
    rebase = false
{{if .features.gpg_signing}}[user]
    signingkey = {{.gpg_key}}
[commit]
    gpgsign = true{{end}}
{{if .features.git_lfs}}[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true{{end}}
